/*
Author Name: Anik Islam
Tamplete Name: Cleaning Website
version: 1.0.0
*/

/* CSS VARIABLES */
:root{
    --body-font: 'Plus Jakarta Sans', sans-serif;
    --btn-font: 'Open Sans', sans-serif;
    --upper-bg: #3EC5FA;
    --white: #fff;
    --light-white: #646464;
    --black: #000;
    --icon-bg: #EDF1FC;
    --p-text: #333333;
    --bottom-border: #ADAFAE;
    --our-bg: #EBF4FF;
    --about-btn: #FDDB3A;
    --box-border: #F2F2F2;
    --btn-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
    --box-hover:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 500px;
}

h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 44px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 36px;
}
h6{
    font-size: 24px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    font-family: var(--body-font); 
}

/* SECTION START */
.header-top{
    background-color: var(--upper-bg);
}
.top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.top-left p{
    color:#FEF5E7;
    font-size: 16px;
}
.top-left p span{
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}
.social-icons{
    
    display: flex;
    gap: 8px;
}
.social-icons .social{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

/* MAIN HEADE AREA  */
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5px;
}
.menus{
    display: flex;
    align-items: center;
    gap: 55px;
}
ul {
    padding: 0;
    margin: 0;
}
.menus li a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}
.menus li a:hover{
    color: var(--upper-bg);
}
.header-btn a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--upper-bg);
    font-size: 18px;
    font-weight: 500;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 10px;
}
.bars i{
    background-color: var(--upper-bg);
    color: var(--white);
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    visibility: hidden;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
/* MAIN HEADE AREA  */
/*HEADER SECTION END */

/*HERO SECTION START */
.hero-section{
    padding: 30px 0 90px 0;
}
.hero-content{
    text-align: center;
}
.hero-subtitle p{
    font-size: 20px;
    font-weight: 500;
    color: var(--upper-bg);
    margin-bottom: 30px;
}
.hero-title h1 {
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 45px;
}
.hero-info p{
    font-size: 16px;
    width: 780px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 65px;
}
.hero-btns{  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-btns .bg{
    background-color: var(--upper-bg);
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    padding: 25px 30px 25px 30px;
    border-radius: 15px
}
.hero-btns .trans{
    background-color:transparent;
    border: 2px solid var(--upper-bg);
    color: var(--upper-bg);
    font-size: 20px;
    font-weight: 500;
    padding: 25px 30px 25px 30px;
    border-radius: 15px
}
/*HERO SECTION END */

/*SERVICE SECTION START */
.service-section{
    padding: 90px 0 ;
}
.s-subtitle span{
    color: var(--upper-bg);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; 
}
.s-title h4{
    font-weight: 700; 
    margin: 20px 0;
} 
.s-text p{ 
    width: 420px;
    font-size: 16px;
}
.service-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 25px;
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}
.s-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-btn a{
    background-color: var(--upper-bg);
    color: var(--white);
    padding: 18px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500px;
    margin-top: 20px;
    display: inline-block;
}
.icon{
    margin-left: 8px;
}
.service-block{
    width: 360px;
    /* width: calc(100% - 750px); */
    border-radius: 5px;
    border: 1px solid var(--box-border);
    padding: 32px 32px;
    transition: 0.2s;
}
.service-block:hover{
    box-shadow: var(--box-hover);
}
.b-icon span{
    padding: 16px 16px;
    background-color: var(--upper-bg); 
    border-radius: 5px;
    margin-bottom: 25px;
    display: inline-block;
}
.b-title span{
    font-size: 20px ;
    font-weight: 700; 
}
.b-info p{
    font-size: 16px;
    margin: 18px 0  25px 0;
}
.b-btn a{
    text-decoration: underline;
    color: var(--upper-bg);
    font-size: 16px; 
}
.b-arrow{
    margin-left: 8px;
}
/*SERVICE SECTION END */
   
/*GET SERVICE SECTION START */
.get-service{
    padding: 90px 0;  
}
.get-service-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gs-subtitle p{
    color: var(--upper-bg);
    margin-bottom: 20px;
}
.gs-title h4{
    font-weight: 700;
}
.box-content{
    margin-top: 60px;
}
.box1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.box-content .box-icon{
    padding: 40px 40px; 
    background-color: var(--our-bg);
    border-radius: 8px;

}
.box-title h6{
    font-weight: 600;
    margin-bottom: 20px;
}
.border{
    border: 5px solid var(--bottom-border);
    margin-top: 30px;
}  
.sub-section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info p{
    width: 390px;
}
.bold{
    font-weight: 700;
}
/*GET SERVICE SECTION END */
   
/*ABOUT US SECTION START */
.about-us{  
    background-color: var(--upper-bg); 
}
.about-top{ 
    color: var(--white);
    position: relative;
}
.about-title h1{
    font-weight: 700; 
    text-align: center; 
    padding: 100px 0;
}
.heading p{
    background-color: var(--about-btn);
    text-align: center;
    display: inline-block;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-top:20px;
    padding: 25px 70px;
    border-radius: 8px;
    position: absolute;
    top: 290px;
    left: 352px; 
}
/*ABOUT US SECTION END */
   
/* SECTION START */
/* SECTION END */
   


