/*
Author Name: Anik Islam
Tamplete Name: Cleaning Website
version: 1.0.0
*/

/* CSS VARIABLES */
:root{
    --body-font: 'Plus Jakarta Sans', sans-serif;
    --btn-font: 'Open Sans', sans-serif;
    --upper-bg: #3EC5FA;
    --white: #fff;
    --light-white: #646464;
    --black: #000;
    --icon-bg: #EDF1FC;
    --p-text: #333333;
    --bottom-border: #ADAFAE;
    --our-bg: #EBF4FF;
    --about-btn: #FDDB3A;
    --box-border: #F2F2F2;
    --btn-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
    --box-hover:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --f-menus-color: #231F20;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 44px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 36px;
}
h6{
    font-size: 24px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    font-family: var(--body-font); 
}

/* SECTION START */
.header-top{
    background-color: var(--upper-bg);
}
.top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.top-left p{
    color:#FEF5E7;
    font-size: 16px;
}
.top-left p span{
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}
.social-icons{
    
    display: flex;
    gap: 8px;
}
.social-icons .social{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

/* MAIN HEADE AREA  */
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5px;
}
.menus{
    display: flex;
    align-items: center;
    gap: 55px;
}
ul {
    padding: 0;
    margin: 0;
}
.menus li a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}
.menus li a:hover{
    color: var(--upper-bg);
}
.header-btn a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--upper-bg);
    font-size: 18px;
    font-weight: 500;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 10px;
}
.bars i{
    background-color: var(--upper-bg);
    color: var(--white);
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    visibility: hidden;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
/* MAIN HEADE AREA  */
/*HEADER SECTION END */

/*HERO SECTION START */
.hero-section{
    padding: 30px 0 90px 0;
}
.hero-content{
    text-align: center;
}
.hero-subtitle p{
    font-size: 20px;
    font-weight: 500;
    color: var(--upper-bg);
    margin-bottom: 30px;
}
.hero-title h1 {
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 45px;
}
.hero-info p{
    font-size: 16px;
    width: 780px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 65px;
}
.hero-btns{  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-btns .bg{
    background-color: var(--upper-bg);
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    padding: 25px 30px 25px 30px;
    border-radius: 15px
}
.hero-btns .trans{
    background-color:transparent;
    border: 2px solid var(--upper-bg);
    color: var(--upper-bg);
    font-size: 20px;
    font-weight: 500;
    padding: 25px 30px 25px 30px;
    border-radius: 15px
}
/*HERO SECTION END */

/*SERVICE SECTION START */
.service-section{
    padding: 90px 0 ;
}
.s-subtitle span{
    color: var(--upper-bg);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; 
}
.s-title h4{
    font-weight: 700; 
    margin: 20px 0;
} 
.s-text p{ 
    width: 420px;
    font-size: 16px;
}
.service-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 25px;
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}
.s-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-btn a{
    background-color: var(--upper-bg);
    color: var(--white);
    padding: 18px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500px;
    margin-top: 20px;
    display: inline-block;
}
.icon{
    margin-left: 8px;
}
.service-block{
    width: 360px;
    /* width: calc(100% - 750px); */
    border-radius: 5px;
    border: 1px solid var(--box-border);
    padding: 32px 32px;
    transition: 0.2s;
}
.service-block:hover{
    box-shadow: var(--box-hover);
}
.b-icon span{
    padding: 16px 16px;
    background-color: var(--upper-bg); 
    border-radius: 5px;
    margin-bottom: 25px;
    display: inline-block;
}
.b-title span{
    font-size: 20px ;
    font-weight: 700; 
}
.b-info p{
    font-size: 16px;
    margin: 18px 0  25px 0;
}
.b-btn a{
    text-decoration: underline;
    color: var(--upper-bg);
    font-size: 16px; 
}
.b-arrow{
    margin-left: 8px;
}
/*SERVICE SECTION END */
   
/*GET SERVICE SECTION START */
.get-service{
    padding: 90px 0;  
}
.get-service-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gs-subtitle p{
    color: var(--upper-bg);
    margin-bottom: 20px;
}
.gs-title h4{
    font-weight: 700;
}
.box-content{
    margin-top: 60px;
}
.box1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.box-content .box-icon{
    padding: 40px 40px; 
    background-color: var(--our-bg);
    border-radius: 8px;

}
.box-title h6{
    font-weight: 600;
    margin-bottom: 20px;
}
.border{
    border: 5px solid var(--bottom-border);
    margin-top: 30px;
}  
.sub-section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info p{
    width: 390px;
}
.bold{
    font-weight: 700;
}
/*GET SERVICE SECTION END */
   
/*ABOUT US SECTION START */
.about-us{  
    background-color: var(--upper-bg); 
}
.about-top{ 
    color: var(--white);
    position: relative;
}
.about-title h1{
    font-weight: 700; 
    text-align: center; 
    padding: 100px 0;
}
.heading p{
    background-color: var(--about-btn);
    text-align: center;
    display: inline-block;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-top:20px;
    padding: 25px 70px;
    border-radius: 8px;
    position: absolute;
    top: 290px;
    left: 352px; 
}

/* ABOUT2 */
.about2{
    padding: 90px 0 0 0 ;
    overflow: hidden;
}
.about-details p{
    text-align: center;
    margin: 0 auto;
    width: 790px;
}
.about-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 90px;
}
.about-box1{
    background-color: var(--upper-bg);
    width: 280px;
    border-radius: 25px;
    padding: 25px 70px 30px 70px;
    text-align: center;
    color:var(--white);   
}
.about-box-title h2{
    font-weight: 500; 
}
/* ABOUT2 */

/*ABOUT US SECTION END */
   

/*CLIENT SECTION START */
.client-section{
    padding: 90px 0;
}
.client-subtitle span{
    font-size: 16px;
    color: var(--upper-bg);
}
.client-title h4{
    font-weight: 700;
    margin: 5px 0 15px 0;
}
.client-info p{
    font-size: 16px ;
    width: 420px;
}
.client-row{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.client-box1{
    width: 440px;
    border: 1px solid var(--box-border);
    border-radius: 12px;
    padding: 32px 35px;
    position: relative;
}
.client-icon{
    background-color: var(--upper-bg);
    display: inline-block;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 40px;
}
.client-details{
    font-size: 16px;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--box-border);
}
.client-subsection{
    margin-top: 25px;
    display: flex;
    align-items: center;  
    gap: 50px;
} 
.client-names span{
    font-size: 18px;
    font-weight: 600;
} 
/*CLIENT SECTION END */


/*OFFER SECTION START */
.offer-section{
    padding: 110px 0;
}
.offer-section .container{
    background-color: var(--upper-bg);
    padding: 60px 250px;
    text-align: center;
    color: var(--white);
    border-radius: 30px;
}
.offer-title h5{
    font-weight: 800;
    margin-bottom: 20px;
}
.offer-info p{
    font-size: 16px;
    margin-bottom: 30px;
}
.offer-box p{
    background-color: var(--about-btn);
    color: var(--black);
    font-size: 16px;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;

}
/*OFFER SECTION END */
   
/*FORM SECTION START */
.form-section{
    padding: 150px 0;
}
.form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.form-subtitle span{
    font-size: 16px;
    color: var(--upper-bg);
}
.form-title h4{
    font-weight: 700;
    padding: 20px 0 20px 0;
}
.form-info p{
    font-weight: 500;
    font-size: 20px;
    width: 455px;
}
.form-content{
    width: 45%; 
    margin-top: -200px;
}
.form-content .form-box1{
    margin-top: 25px;
    display: flex;
    align-items: center; 
    gap: 20px;

}
.form-box1{
    border: 1px solid var(--box-border);  
}
.form-icon{
    background-color: var(--icon-bg);
    display: inline-block;
    padding: 32px;
    border-radius: 8px;
}
.form-details .form-title h6{
    font-weight: 500;
    color: var(--upper-bg);
}
.form-details .form-text p{
    font-size: 16px;
    color: var(--p-text);
    margin-top: 10px;
}
.form-input{
    background-color: var(--upper-bg);
    padding: 60px 72px; 
    border-radius: 8px; 
    width: 55%;
}
input, textarea{ 
    padding: 16px 260px 16px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
    color: var(--black);
}  
label{
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 10px;
}
.form-btn{
    background-color: var(--about-btn);
    border: none;
    border-radius: 15px;
    padding: 25px 35px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
/*FORM SECTION END */
   
/*FOOTER SECTION START */
.footer-section{
    
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo img{
    margin-bottom: 25px;
}
.f-info p{
    font-size: 16px;
    width: 288px;
    margin-bottom: 35px;
}
.f-icons span svg{
    background-color: var(--upper-bg); 
    height: 40px;
    width: 40px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-self: center;
    line-height: 38px;  
    border-radius: 50%;
}
.f-icons{
    display: flex;
    gap: 10px;
}
.f-title p{
    font-size: 20px;
    color: var(--upper-bg);
    font-weight: 500;
    margin-bottom: 20px;
}
.f-menus ul li a{ 
    font-size: 16px;
    color: var(--f-menus-color);
    font-weight: 600; 
    transition: 0.2s;
}
.f-menus ul li a:hover{
    color: var(--upper-bg);
}
.f-menus ul li:nth-of-type(1){
    margin-bottom: 8px;
}
.f-menus ul li:nth-of-type(2){
    margin-bottom: 8px;
}
.f-menus ul li:nth-of-type(3){
    margin-bottom: 8px;
}
.f-content{
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-bottom: 15px;
}
.f-text a{
    text-decoration: none;
    color: var(--f-menus-color);
    font-size: 16px;
    font-weight: 600;
}
.f-text p{
    font-size: 16px;
    font-weight: 600;
    color: var(--f-menus-color);
    cursor: pointer;
}
/*FOOTER SECTION END */
   


